.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #94bae0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.open {
  width: 250px;
}
li.sidenav_item {
  width: 250px;
  padding: 13px;
}

sidenav_item svg {
  border: none;
}
